[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/felipecrs
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/felipecrs
	label-Verified = -1..+1 group user/felipecrs
	push = group user/felipecrs
	read = group user/felipecrs
	rebase = group user/felipecrs
	removeReviewer = group user/felipecrs
	submit = group user/felipecrs
[access "refs/heads/*"]
	create = group user/felipecrs
	push = +force group user/felipecrs
	pushMerge = group user/felipecrs
	read = group user/felipecrs
[access "refs/tags/*"]
	push = group user/felipecrs
	push = +force group user/felipecrs
